.list-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.events-and-groups-headings-container {
  display: flex;
  gap: 20px;
}

.group-container {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid gray;
}

/* GROUP LIST AND EVENT LIST */
.group-card,
.event-card-main-details,
.description {
  display: flex;
  width: 80%;
  gap: 100px;
  overflow: hidden;
}
.isActive {
  color: teal;
}
.notActive {
  color: grey;
}
.cart-image {
  object-fit: contain;
  height: 200px;
  width: 50%;
}
.cart-image img {
  width: 100%;
}
/* GROUP LIST AND EVENT LIST */

/* BREAKLINE */
.breakline {
  margin: 20px 0;
  border: 1px solid green;
}
/* BREAKLINE */
