/* TEMPORARY IMAGE PLACEHOLDERS */
.group-image {
  height: 100px;
  width: 100%;
  background-color: rgb(44, 117, 181);
  border: 2px solid red;
}
/* TEMPORARY IMAGE PLACEHOLDERS */

.list-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.events-and-groups-headings-container {
  display: flex;
  gap: 20px;
}

.group-container {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid gray;
}
