/* TEMPORARY IMAGE PLACEHOLDERS */
/* .landing-page-banner-container > img {
  height: 300px;
  width: 45%;
  background-color: rgb(44, 117, 181);
  border: 2px solid red;
}
.go-to-groups-container > img,
.go-to-events-container > img,
.start-group-container > img {
  height: 150px;
  width: 90%;
  background-color: rgb(44, 117, 181);
  border: 2px solid red;
} */
/* TEMPORARY IMAGE PLACEHOLDERS */

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  gap: 30px;
}

.landing-page-banner-container {
  display: flex;
  justify-content: space-between;
}

.landing-page-text-container {
  width: 45%;
}

.landing-page-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  /* border: 2px solid red; */
  /* gap: 10px; */
}

.landing-page-info-container > * {
  margin: 0;
  /* border: 2px solid red; */
}

.landing-page-groups-and-events-container {
  display: flex;
  justify-content: space-between;
}

.landing-page-groups-and-events-container > * {
  /* border: 2px solid red; */
}

.go-to-groups-container,
.go-to-events-container,
.start-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
