/* --------------------ALL-------------------- */
.landing-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  gap: 30px;
  overflow: hidden;
}
/* --------------------ALL-------------------- */

/* --------------------HERO------------------- */
.landing-page-hero-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.landing-page-hero-text-container {
  width: 45%;
  overflow: hidden;
}
.landing-page-hero-heading {
  max-width: 200px;
}
.landing-page-hero-image {
  width: 40%;
  object-fit: contain;
}
.landing-page-hero-image img {
  width: 100%;
  margin-left: auto;
  border-radius: 100%;
}
/* --------------------HERO------------------- */

/* --------------------INFO--------------------- */
.landing-page-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  gap: 10px;
}
.landing-page-info-container > * {
  margin: 0;
}
/* --------------------INFO--------------------- */

/* --------------------GROUPS AND EVENTS-------- */
.landing-page-groups-and-events-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.go-to-groups-container,
.go-to-events-container,
.start-group-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing-page-groups-and-events-container img {
  width: 80%;
  border-radius: 100%;
}
.go-to-groups-container,
.go-to-events-container,
.start-group-container {
  text-decoration: none;
  color: #ab5721;
}
.go-to-groups-container span,
.go-to-events-container span,
.start-group-container span {
  text-decoration: underline;
}
/* --------------------GROUPS AND EVENTS-------- */

/* --------------------JOIN BUTTON-------------- */
.landing-page-join-button-container > button {
  background: grey;
}
/* --------------------JOIN BUTTON-------------- */
