.event-header {
  width: 80%;
  margin: 60px auto 30px;
}

.event-header > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-header > h3 {
  margin: 0;

  font-size: 16px;
  font-weight: normal;
  color: #a6a6a6;
}

.event-details-wrapper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;

  background-color: #e4e4e4;
}

.event-details {
  width: 80%;
  margin: 0 auto;

  /* display: flex; */
}

.details-cards {
  margin-left: 20px;
  width: 40%;
}

.details-cards > * {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
}

.group-info-card {
  /* display: flex; */
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-info {
  padding-left: 20px;
}

.top-info > h5 {
  margin-top: 0px;
  margin-bottom: 5px;

  color: #212121;
}

.top-info > p.details {
  margin: 0;
  font-size: 14px;
}

.event-info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.event-info-card > * {
  display: flex;
  align-items: center;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #a6a6a6;
}

.icon-wrapper {
  width: 32px;
  display: flex;
  justify-content: center;
}

.event-times,
.cost-details > p,
.async-details > p {
  padding-left: 20px;
}

.event-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-time > * {
  margin: 0;
  margin-right: 10px;

  font-size: 16px;
  font-weight: normal;
}

.event-time > p {
  color: #00798a;
}

.event-description {
  width: 80%;
  margin: 0 auto;
}

.event-description > * {
  margin-top: 5px;
  margin-bottom: 10px;
}

.event-description p {
  overflow-y: scroll;
  min-height: 35px;
}

.event-info-card > .organizer-buttons {
  position: absolute;
  bottom: 30px;
  right: 5%;
  justify-content: flex-end;
}

.event-info-card > .organizer-buttons > button {
  width: fit-content;
  height: 30px;
  padding: 0 8px;
  margin-left: 5px;

  font-size: 12px;
  color: #fff;
}

/* DELETE MODAL */
.delete-event-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* DELETE MODAL */
